<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo List</title>
</head>
<body>
  <h1>Todo List</h1>
  <form class="" action="/todo/add" method="post">
    <input type="text" name="task" placeholder="Tasks">
  </form>

  <ul>
    <% tasks.forEach((task, index) => { %>
      <li><a href="/todo/delete/<%= index %>">X </a><%= task.name %></li>
    <% }); %>
  </ul>
</body>
</html>
